# 0. Наибольший общий делитель - 1 балл
Напишите функцию, которая на вход принимает два целых числа, а на выходе отдает их наибольших общий делитель. 

Пример

Ввод 

`lcd(10,2)`

Вывод

`2`

Пример

Ввод 

`lcd(10,25)`

Вывод

`5`

In [1]:
def gcd(x, y):
    while y != 0:
        (x, y) = (y, x % y)
    return x
gcd (10,2)

2

In [2]:
def gcd(a, b):
    if (b == 0):
        return a
    else:
        return gcd(b, a % b)
gcd(10, 25)

5

In [3]:
import math 
a = int(input ('введите число 1  '))
b = int(input ('введите число 2  '))
print (math.gcd (a, b))

введите число 1  10
введите число 2  5
5

# 1. Задачка про перевод из `camel_case`'a в `snake_case` - 1.5 балла
 Напишите функцию, которая на вход принимает строку, записанную в `CamelCase`, а переводит ее в `snake_case`.
 Подсказка: идите по строке циклом, обрабатывайте каждый символ, если символ заглавный, к обработанным ранее добавляйте нижнее подчеркивание и нынешний переводите в `lower case` 
 
 Пример:

**Вход**: `'camelCaseVar'`

**Выход**: `'camel_сase_var'`

In [4]:
import re
name = 'сamelCaseVar'
name = re.sub(r'(?<!^)(?=[A-Z])', '_', name).lower()
print(name)

сamel_case_var

In [5]:
def camel_to_snake(a):
    return re.sub("([A-Z])", "_\\1", a).lower().lstrip("_")
print(camel_to_snake("camelCaseVar"))

camel_case_var

In [6]:
re.sub('([A-Z]+)', r'_\1','camelCaseVar').lower()

'camel_case_var'

In [1]:
def to_snake_case(name):
    name = re.sub('(.)([A-Z][a-z]+)', r'\1_\2', name)
    name = re.sub('__([A-Z])', r'_\1', name)
    name = re.sub('([a-z0-9])([A-Z])', r'\1_\2', name)
    return name.lower(camelCaseVar)

# 2. Про Поросёнка Петра - 2 балла
На плоскости в точке `(0,0)` стоит Поросёнок Пётр. Он умеет ходить налево, направо, вверх и вниз. Расстояние его прохода в какую-либо сторону измеряется в шагах. Когда он идет вправо, его первая координата увеличивается, когда влево - уменьшается. Когда он идет вверх, его вторая координата увеличивается, а когда вниз - уменьшается.
С клавиатуры считывается число `N` - число ходов, которые сделает Пётр. После чего на каждом шаге спрашивается, сколько шагов и в какую сторону за этот ход Пётр сделает. Так происходит, пока Пётр не осуществит все N ходов.
Программа должна вывести, сколько шагов Пётр должен был бы сделать, чтобы кратчайшим путем прибыть из свое начальной точки `(0,0)` в свою конечную точку. 

Напоминание: Пётр умеет ходить только вверх-вниз, и влево-вправо, но не по диагонали.

Пример ввода:

Введите N: `3`

Ход 1: `Вверх 1`

Ход 2: `Вниз 1`

Ход 3: `Вверх 1`

Пример вывода:
`Пётр находится на расстоянии 1 от (0,0)`

In [10]:
coord_dict = {}
 
for move in range(int(input('Введите N: '))):
    current_move = input(f'Ход {move + 1}: ')
    move_direction, move_coord = current_move.split()
    coord_dict[move_direction] = coord_dict.get(move_direction, 0) + int(move_coord)
 
res_y = abs(coord_dict.get('Вверх', 0) - coord_dict.get('Вниз', 0))
res_x = abs(coord_dict.get('Влево', 0) - coord_dict.get('Вправо', 0))
print(f'Петр находится на расстоянии {res_x + res_y} от (0,0)')

Введите N: 3
Ход 1: Вверх 1
Ход 2: Вниз 1
Ход 3: Вверх 1
Петр находится на расстоянии 1 от (0,0)

# 3. Sort the keys of the dictionary from a to z.  - 0.5 балла

In [ ]:
d_= {"tiramisu":5, "chocolate":2, "pudding":3, "cheesecake":4}

In [11]:
d_= {"tiramisu":5, "chocolate":2, "pudding":3, "cheesecake":4}
from collections import OrderedDict
d1 = sorted(d_.items())
print(d1)

[('cheesecake', 4), ('chocolate', 2), ('pudding', 3), ('tiramisu', 5)]

In [12]:
sorted_dict = dict(sorted(d_.items(), key=lambda x: x[0].lower()) )

for k,v in sorted_dict.items():
    print('{}:{}'.format(k,v))

cheesecake:4
chocolate:2
pudding:3
tiramisu:5

In [13]:
d_= {"tiramisu":5, "chocolate":2, "pudding":3, "cheesecake":4}
from collections import OrderedDict
d1 = sorted(d_)
print(d1)

['cheesecake', 'chocolate', 'pudding', 'tiramisu']

# 4. Compare three values, return true only if 2 or more values are equal - 0.5 балла

In [14]:
a = int(input ('введите число 1 '))
b = int(input ('введите число 2 '))
c = int(input ('введите число 3 '))

if a==b or a == c or b == c:
    print(True)
else: 
    print(False)

введите число 1 8
введите число 2 9
введите число 3 8
True

In [17]:
def is_2equal(a,b,c):
    if a==b or a == c or b == c:
        return True
    else: 
        return False
is_2equal(6,7,8)

False

In [18]:
a, b, c = (int(input(f'введите число {i}: ')) for i in range(1,4))
if is_2equal(a,b,c):
    print(True)
else:
    print(False)

введите число 1: 6
введите число 2: 13
введите число 3: 6
True

# 5. Given a list with pairs, sort on the sum of pairs - 0.5 балла

In [ ]:
x = [(3,6),(4,7),(5,9),(8,4),(3,1)]

In [19]:
lst = [(3,6),(4,7),(5,9),(8,4),(3,1)]
print(sorted(lst, key = lambda x:x[0] + x[1]))

[(3, 1), (3, 6), (4, 7), (8, 4), (5, 9)]

In [20]:
num = [(3,6),(4,7),(5,9),(8,4),(3,1)]
num.sort(key=sum)
print(num)

[(3, 1), (3, 6), (4, 7), (8, 4), (5, 9)]

# 6. Create a function that takes a list of numbers. Return the largest number in the list. - 0.5 балла

In [ ]:
findLargestNum([4, 5, 1, 3]) ➞ 5

findLargestNum([300, 200, 600, 150]) ➞ 600

findLargestNum([1000, 1001, 857, 1]) ➞ 1001

In [21]:
num = ([4, 5, 1, 3])
num1 = max(num)
print( num1)

num = ([300, 200, 600, 150])
num1 = max(num)
print( num1)

num = ([1000, 1001, 857, 1])
num1 = max(num)
print( num1)

5
600
1001

In [22]:
num = ([1000, 1001, 857, 1])
def max_num(num):
    return print(max(num))
max_num(num)

1001

In [23]:
num = ([4, 5, 1, 3])
def max_num1(num):
    a=0
    for i in num:
        if i>a:
            a=i
    return print(a)
max_num1(num)

5

# 7. Create a function that takes a string and returns the concatenated first and last character. - 0.5 балла

In [ ]:
repetition("ab", 3) ➞ "ababab"

repetition("kiwi", 1) ➞ "kiwi"

repetition("cherry", 2) ➞ "cherrycherry"

In [24]:
def firstlast(names,number):
    return print((names[0] + names[-1])*number)
firstlast('ab',3)

ababab

In [25]:

def firstlast_dum(names,number):
    return print(names*number)
firstlast_dum('kiwi',1)

kiwi

In [27]:
def firstlast_dum(names,number):
    return print(names*number)
firstlast_dum('cherry',2)

cherrycherry

In [28]:
(lambda x, y: x * y)("ab", 3)

'ababab'

In [29]:
print((lambda x,y: x * y)("kiwi", 1))
print((lambda x,y: x * y)("cherry", 2))

kiwi
cherrycherry

# 8. Create a function that takes a 2D list lst returns the sum of the minimum value in each row. - 0.5 балла

In [ ]:
sum_minimums([[1, 2, 3, 4, 5],
  [5, 6, 7, 8, 9],
  [20, 21, 34, 56, 100]
  
] ➞ 26

# minimum value of the first row is 1
# minimum value of the second row is 5
# minimum value of the third row is 20

In [30]:
def sum_minimums(numbers):
    result = 0
    for i in numbers:
        result += min(i)
    return result
sum_minimums([
  [1, 2, 3, 4, 5],
  [5, 6, 7, 8, 9],
  [20, 21, 34, 56, 100]])

26

# 9. Create a function to return the amount of potatoes there are in a string. - 0.5 балла

In [ ]:
potatoes("potato") ➞ 1
potatoes("potatopotato") ➞ 2
potatoes("potatoapple") ➞ 1

In [36]:
def potato_counter(potato):
    return potato.count('potato')
print(potato_counter("potato"))
print(potato_counter("potatopotato"))
print(potato_counter("potatoapple"))

1
2
1

In [37]:
text = "potato"

count = len(re.findall("potato", text)) 
print(count)

text1 = "potatopotato"
count = len(re.findall("potato", text1)) 
print(count)

text2 = "potatoapple"
count = len(re.findall("potato", text2)) 
print(count)

1
2
1

In [38]:
def potatoes(text):
    count = len(re.findall("potato", text))
    return count
potatoes("potato")

1

# 10. Create a function that takes a list of integers as an argument and returns a unique number from that list. All numbers except unique ones have the same number of occurrences in the list. - 0.5 балла

In [ ]:
find_single_number([2, 2, 2, 3, 4, 4, 4]) ➞ 3

find_single_number([2]) ➞ 2

find_single_number([]) ➞ None

find_single_number([7, 13, 3, 6, 5, 4, 4, 13, 5, 3, 6, 7, 6, 5, 3, 13, 4, 7, 13, 5, 7, 4, 3, 6, 8, 4, 3, 7, 5, 6, 13]) ➞ 8

find_single_number([1, 2, 3, 6, 5, 4, 4, 2, 5, 3, 6, 1, 6, 5, 3, 2, 4, 1, 2, 5, 1, 4, 3, 6, 101, 4, 3, 1, 5, 6, 2]) ➞ 101

In [16]:
arr=[2, 2, 2, 3, 4, 4, 4]

def unique_num(arr):
    uni=[]

    if len(arr) == 0:
        return None
    elif len(arr) == 1:
        return arr[0]
    else:
        for i in arr:
            if i not in uni:
                uni.append(i)
            elif i in uni:
                uni[:] = filter(lambda x: x != i, uni)
        return uni[0]
print(unique_num(arr))

2

In [17]:
arr=[2, 2, 2, 3, 4, 4, 4]
print(unique_num(arr))

2

In [18]:
arr=[2]
print(unique_num(arr))

2

In [19]:
arr=[]
print(unique_num(arr))

None

In [20]:
arr=[7, 13, 3, 6, 5, 4, 4, 13, 5, 3, 6, 7, 6, 5, 3, 13, 4, 7, 13, 5, 7, 4, 3, 6, 8, 4, 3, 7, 5, 6, 13]
print(unique_num(arr))

8

In [21]:
arr=[1, 2, 3, 6, 5, 4, 4, 2, 5, 3, 6, 1, 6, 5, 3, 2, 4, 1, 2, 5, 1, 4, 3, 6, 101, 4, 3, 1, 5, 6, 2]
print(unique_num(arr))

101

# 11. Given a letter and a list of words, return whether the letter does not appear in any of the words. - 0.5 балла

In [ ]:
forbidden_letter("r", ["rock", "paper", "scissors"]) ➞ False

forbidden_letter("a", ["spoon", "fork", "knife"]) ➞ True

forbidden_letter("m", []) ➞ True

In [45]:
def plist(n,lst):
    for each in lst:
        if isinstance(each, list):
            plist(each, n)
        elif any(n in each_letter for each_letter in each):
            return False
        else:
            return True
    return True 
print(plist("r", ["rock", "paper", "scissors"]))

False

In [48]:
print(plist("a", ["spoon", "fork", "knife"]))

True

In [49]:
print(plist('m',[]))

True

# 12.  Define a function which create a Pattern like this one.  - 2 балла

In [ ]:
Input: 4
Pattern:

 01234
  | |     0
 -----    1
  | |     2
 -----    3
  | |     4

In [54]:
s = int(input())
f = ''
for i in range(s+1):
    f += str(i)
def pattern(x):
    f1 = ''
    for i in range(len(f)):
        if i % 2 == 0:
            f1 += ' | |     ' + f[i] + '\n'
        else:
            f1 += '-----    ' + f[i] + '\n'
    return f1
 
print(f + "\n" + pattern(s))

4
01234
 | |     0
-----    1
 | |     2
-----    3
 | |     4

In [2]:
n=int(input())

nums=[]
for i in range(n+1):
    nums.append(i)
nums_to_str=''.join(map(str,nums))
nums=[]
for i in range(0,n+2):
    if i == 0:
        print('|')
    if i == 1:
        print(f'| {nums_to_str}')
    if i%2==0 and (i != 0):
        print(f'|  | |     '+str(i-1))
    if i%2!=0 and (i != 0):
        print(f'| -----    '+str(i-1))

4
|
| 01234
| -----    0
|  | |     1
| -----    2
|  | |     3
| -----    4

# 13. Create a function that takes three numbers as arguments and returns True if it's a triangle and False if not.  - 0.5 балла

In [ ]:
is_triangle(2, 3, 4) ➞ True

is_triangle(3, 4, 5) ➞ True

is_triangle(4, 3, 8) ➞ False

In [3]:
def is_triangle(x, y, z):
    if x < y + z and z < x + y and y < x + z:
        print ("True")
    else:
        print ("False")
        
is_triangle(2, 3, 4)
is_triangle(3, 4, 5)
is_triangle(4, 3, 8)

True
True
False

# 14. Create a "Code" Generator that takes text as input and replaces some letter with another letter, and outputs the "encoded" message. Create funcs to encode and decode messages

In [13]:
A = {
   'a': 'f',
   'b': 'g',
   'c': 'h',
   'd': 'i',
   'e': 'j',
   'f': 'k',
   'g': 'l',
   'h': 'm',
   'i': 'n',
   'j': 'o',
   'k': 'p',
   'l': 'q',
   'm': 'r',
   'n': 's',
   'o': 't',
   'p': 'u',
   'q': 'v',
   'r': 'w', 
   's': 'x',
   't': 'y',
   'u': 'z',
   'v': 'a',
   'w': 'b',
   'x': 'c',
   'y': 'd',
   'z': 'e',
}
 
B = {
   'f': 'a',
   'g': 'b',
   'h': 'c',
   'i': 'd',
   'j': 'e',
   'k': 'f',
   'l': 'g',
   'm': 'h',
   'n': 'i',
   'o': 'j',
   'p': 'k',
   'q': 'l',
   'r': 'm',
   's': 'n',
   't': 'o',
   'u': 'p',
   'v': 'q',
   'w': 'r',
   'x': 's',
   'y': 't',
   'z': 'u',
   'a': 'v',
   'b': 'w',
   'c': 'x',
   'd' : 'y',
    'e' : 'z',
}
 
s = input()
 
def encode(x):
    s1 = ''
    for i in x:
        first = A[i]
        s1 += first
    return s1
s1 = encode(s)
def decode(x):
    s1 = ''
    for i in x:
        first = B[i]
        s1 += first
    return s1
print(encode(s), decode(s1))

winter
bnsyjw winter

In [14]:
replacement = {"a": "b", "d": "1"}
text_to_enc= 'i  was there already'
text_to_dec = 'i wbs there blreb1y'

In [15]:
def descript(d,text):
    result = ""
    inv_d = {value: key for key, value in d.items()}
    val_list = list(d.values())
    
    def get_key(val):
        for key, value in d.items():
            if val == value:
                return key
    for i in text:
        if i in val_list:
            result += get_key(i)
        else:
            result += i
    return result

print(descript(replacement,text_to_dec))

i was there already